<h2>Hey Alice!</h2>

<p>
    I thought about another recipe, checkout
    <a href="http://localhost:8000/javascript:alert('xss');">this website</a>!
    It didn't work for me at first, try reloading the page.
    <br/>

    Bye,
    Eve
</p>
